# Создаваемые виртуальные среды
venv/
myenv/

venv/
.env/

# Папки и файлы для IDE и редакторов
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Папки для сборки и тестов
build/
dist/
*.egg-info/

# Миграции
alembic/versions/

# Логи
*.log

# Docker и docker-compose
*.dockerfile
docker-compose.override.yml

# Секретные файлы
*.env

